extends layout

block content
  h1 GrabzIt Demo
  p
    span(id="spnIntro") Enter the HTML or URL you want to convert into a DOCX, PDF or Image. The resulting capture
    |  should then be saved in the 
    a(href="results/",target="_blank") results directory
    |  . It may take a few seconds for it to appear! If nothing is happening check the 
    a(href="https://grabz.it/account/diagnostics",target="_blank") diagnostics panel
    |  to see if there is an error.
  if !useCallbackHandler
    p Either you have not updated the config.callbackHandlerUrl variable found in config.js file to match the URL of the callback handler in this demo app or you are using this demo application on your local machine.
    p This demo will still work although it will create captures synchronously, which will cause the web page to freeze when captures are generated. 
      u Please wait for the capture to complete
      .
  if success
    p
        span(style="color:green;font-weight:bold;") Processing...
  else if !success && message != null
    p
        span(class="error")= message
  form(action="/",method="post",class="inputForms")
    div(class="Row",id="divConvert")
       label Convert
       select(name="convert",onchange="ui.selectConvertChanged(this)")
          option(value="url") URL
          option(value="html") HTML
    div(class="Row hidden",id="divHTML")
       label HTML 
       textarea(name="html") <html><body><h1>Hello world!</h1></body></html>
    div(class="Row",id="divURL")       
       label URL 
       input(type="text",name="url",placeholder="http://www.example.com")
    div(class="Row")
       label Format
       select(name="type",onchange="ui.selectChanged(this)")
          option(value="jpg") JPG
          option(value="pdf") PDF
          option(value="docx") DOCX
          option(value="gif") GIF
          option(value="csv") CSV
    input(type="submit", value="Grabz It", style="margin-left:12em")
  form(action="/delete",method="get",class="inputForms")
    input(type="submit", value="Clear Results")

  h2 Completed Screenshots
  div(id="divResults")