<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python34\python.exe %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
