<!DOCTYPE html>
<html>
<head>
    <title>GrabzIt Demo</title>
    <link rel="stylesheet" type="text/css" href="Content/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="Scripts/ui.js"></script>
</head>
<body>
        @RenderBody()
</body>
</html>
